@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


* {
    font-family: "Space Grotesk", system-ui;
}
body{
    background-color: #0b0b0b !important;
    color: white !important;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

/* Track of the scrollbar (background) */
::-webkit-scrollbar-track {
    background: #0e0e0e; /* Light grey background */
}

/* Thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background-color: #df3636; /* Darker grey color */
    border-radius: 10px; /* Rounded edges */
    border: 3px solid transparent; /* Adds some padding to the thumb */
    background-clip: padding-box; /* Ensures thumb fits correctly inside track */
}


  :root {
    --primary-color: #a855f7;
    --primary-text-color: #333;
    --primary-border: hsl(250, 79%, 74%);
    --primary-background-color: #8e7ee1;
    --primary-title-size:40px;
    --primary-description-size:13px;
    --primary-title-weight:700;
    --primary-description-weight:500;
    /* --primary-doctor-background-color:#b4c7f74f; */
    --primary-avilable: #03ed36;
    --primary-paragraph-color:#c8c8c8;
  }



/* ------------------------------------------------start of css------------------------------------- */
/* start of navbar */
#social-link li {
    list-style: none;
}
.nav-link{
    color: white !important;
}
.navbar-brand span{
    /* color: #a855f7; */
    font-weight: 600;
}
@keyframes colorchange{
    0%{
        color: #4561d0;
    }
    25%{
        color: #66f0d6;
    }
    50%{
        color: #6233a0;
      
    }
    100%{
        color: #70cb97;
    }
}
.navbar-brand {
    animation: colorchange 3s linear 0s infinite alternate;
}
.rotate-slash {
    transform: rotate(90deg);
}
.offcanvas-end{
    z-index: 1050;
}
#offcanvasNavbar{
    background-color: #0000001d;
}
.offcanvas-body ul li a{
    color: white;
}
.navbar-toggler-icon{
    background-color: rgb(177, 177, 177);
    border-radius: 5px;
}
.offcanvas-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.btn-square {
    padding: 8px 6px;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(to right,#7d6fcf , #6d60b5,#7360d1);
    color: white; 
    font-size: 12px;
    border-radius: 5px;
}
.btn-square:hover {
   color: #fff;
}
/* end of navbar */
/* start of herosection */
#herosection {
    padding-top: 20px; 
    margin-top: 50px;
}

.header-img {
    position: relative;
   
}
.img-frame{
    
}
.header-img ::before{
    
}

.header-img img {
    border: 1px solid var(--primary-background-color);
    height: 30vh;
    border-radius: 100%;
    box-shadow: 0px 0px 10px white;
}

#typedtext {
    color: var(--primary-color);
    font-size: 20px;
}
.header-info {
    text-align: center;
    padding-top: 20px;
}

.header-info h1 {
    color: #d8c286;
}
.header-info p {
    color: var(--primary-paragraph-color);
}
.header-info h5 span{
    color: var(--primary-color);
}
/* css for icons */
.social-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
 
 .social-links a {
    border: 2px solid var(--primary-border);
    color: rgb(198, 198, 198);
    padding: 12px 10px 5px 10px;
    border-radius: 100%;
  
 }
 
 .social-links  a i {
    font-size: 1.5rem;
    transition: transform 0.3s ease; 
 }
 
 .social-links  a:hover {
    color: white;
 }
 .social-links a:hover i {
    transform: scale(0.8);
}
/* css for icons */
/* end of herosection */

/* about section start */
#about {
    margin-top: 0px;
    margin-bottom: 0px;
}
#about div h2{
    color: var(--primary-color);
    font-size: var(--primary-title-size);
    font-weight: var(--primary-title-weight);
}
#about-title {
    
}

#about-info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-info p {
    font-size: 13px;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-left {
    animation: slideInFromLeft 1s ease-out forwards;
}

/* end of about section */

/* ...................................start of education section .................................*/
#education {
    margin-top: 5px;
    margin-bottom: 5px;
}
#education h2{
    color: var(--primary-color);
    font-size: var(--primary-title-size);
    font-weight: var(--primary-title-weight);
}
.time-line {
    width: 100px;
    margin: 100px auto;
    position: relative;
}

.time-line::after {
    content: "";
    position: absolute;
    top: 0;
    height: 98%;
    width: 3px;
    background: var(--primary-border);
    border-radius: 50px;
}

.timeline-container {
    width: 100%;
    position: relative;
    padding: 10px 20px;
}

.timeline-container::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    background: var(--primary-background-color);
    top: 0;
    left: -6px;
    border-radius: 50px;
    z-index: 1;
}

.text-content {
    padding: 10px 10px;
        border: 1px solid black;
        background-color: rgba(57, 57, 57, 0.566);
        border-radius: 5px;
        box-shadow: 0px 5px 10px #191919;
        width: auto;
}

.text-content h3 {
    font-size: 20px;
    color:white !important;
}

.text-content p {
    font-size: 11px;
    color: var(--primary-paragraph-color);
}

.text-content small {
    margin-left: 2px;
}

/* ------------------------------------End of education section----------------------------------- */

/*------------------------------------ Start Of Skills Section ------------------------------------ */
#skills {
    margin-top: 5px;
    margin-bottom: 5px;
}
#skills h2{
    color: var(--primary-color);
    font-size: var(--primary-title-size);
    font-weight: var(--primary-title-weight);
}
.domain-name {}

.skill-contanier {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skill {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.215);
    border-radius: 10px;
    padding: 2px 0px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.196);
    background-color: #000;
}

.skill:hover {
    transform: translateY(-2px) scale(1.01);
    background-color: #333;
    color: #656565;
}

.skill-logo {}

.skill-logo img {
    width: 60px;
    height: 60px;
}

.skill-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1px;
    
}

.skill-info h1 {
    font-size: 1.1rem;
    color: white;
    margin: 0px;
}

.skill-info p {
    font-size: 13px;
    color: var(--primary-paragraph-color);
    margin: 0px;
}

/* ------------------------------------ End Of skills Section ------------------------------------*/

/*------------------------------------ Start of Project Section --------------------------------*/
#projects {
    margin-top: 5px;
    margin-bottom: 5px;
}
#projects h2{
    color: var(--primary-color);
    font-size: var(--primary-title-size);
    font-weight: var(--primary-title-weight);
}
.project-container {
    display: flex;
    gap: 20px;
}
.project-img {
    padding: 0%;
}
.project-card {
    overflow: hidden;
}

.project-img {
    transition: transform 0.3s ease; 
}

.project-card:hover .project-img {
    transform: scale(1.1); 
}


/*  */
.snip1527 {
    color: #ffffff;
    font-size: 16px;
    position: relative;
    text-align: left;
    width: 100%;
    margin: 0%;
  }
  .snip1527 img {
    position: relative;
    
  }
  .snip1527 figcaption {
    padding: 25px 20px 25px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 30%;
  }
  .snip1527 figcaption:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #303030c9;
    content: '';
    background: linear-gradient(180deg, #656565 0%, #0e0e0e 100%);
    opacity: 0.8;
    z-index: -1;
  }
  
.snip1527 p {
    font-size: 0.9em;
    line-height: 1.6em;
    margin-bottom: 0px;
    color: #c8c8c8;
  }

  /* Basic button styling */
  .view-btn{
   padding-bottom: 7px;
  }
.btn-demo {
    display: inline-block;
    padding: 4px 6px;
    color:  #c8c8c8;
    text-align: center;
    border: 1px solid white;
}
/* Hover effect - shadow */
.btn-demo:hover {
    color: #c8c8c8;
    box-shadow: 0px 0px 10px #c8c8c8; 
}

/*------------------------------------ End of Project Section ------------------------------------*/

/*------------------------------------ Start of Contact Section --------------------------------*/
#contact {
    padding-top: 5px;
    margin-bottom: 5px;
}
#contact h2{
    color: var(--primary-color);
    font-size: var(--primary-title-size);
    font-weight: var(--primary-title-weight);
}

.contact-item {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color:rgb(33, 33, 33);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.contact-icon i {
    color: white(0, 0, 0, 0.616);
}

.contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info h4 {
    margin: 0;
    font-size: 1.2rem;
    color: white(51, 51, 51);
}

.contact-info p {
    margin: 5px 0 0;
    color: white;
    font-size: 12px;
}

/*------------------------------------ End of Contact Section ------------------------------------*/

/*------------------------------------ Start of copyright ------------------------------------*/
#footer {
    margin-top: 5px;
    margin-bottom: 5px;
}

.line {
    width: 70%;
    border: 1px solid rgba(187, 187, 187, 0.37);
}

.copyright h6 {
    font-size: 12px;
    opacity: 0.8;
}

/*------------------------------------ End of copyright ------------------------------------*/

/*------------------------------------ START OF TABLET VIEW ------------------------------------ */
@media only screen and (min-width: 768px) {
   
  
    /* start of navbar */
    .navbar-brand span{
        font-weight: 600;
        font-size: 22px;
    }
       /* Default link style */
       .nav-item a {
        position: relative;
        text-decoration: none;
        display: inline-block;
        padding: 0px 0px;
        font-size: 16px;
    }
    #navbar-main {
        position: fixed;
        width: 100%;
        z-index: 1000; 
        backdrop-filter: blur(10px); 
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        transition: background-color 0.3s ease-in-out;
    }
    .nav-link{
        color: white !important;
    }
    
    /* Create the border with ::before pseudo-element */
    .nav-item a::before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--primary-border);
        transition: width 0.4s ease-in-out;
    }

    /* On hover, expand the border from left to right */
    .nav-item a:hover::before {
        width: 100%;
    }
  
    nav{
        padding: 8px 3px;
    }
    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 9px;
        
    }

    .offcanvas-body{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
    .contact-btn{
        padding-right: 10px;
    }
    .btn-square {
        padding: 7px 7px;
        color: #fff; 
        font-size: 14px;
    }
    .btn-square:hover {
       
    }
    /* start of herosection */
    #herosection {
        padding-top: 70px;
        margin-top: 0px;
    }

    .header-info {
        text-align: start;
        padding-top: 20px;
    }

    #typedtext {
        font-size: 30px;
    }

    .social-links{
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 10px;
    }

    .header-img {
        margin-top: 35px;
    }

    .header-img img {
        height: 35vh;
    }

    /* end of herosection */


    /* about section start */
    #about {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #about-title {
        font-size: 2.5rem;
    }
    #about-info p {
        color: var(--primary-paragraph-color);
        font-size: 16px;
        text-align: left;
    }
    .resume-btn{
        align-self: flex-start;
    }
    .resume-btn a i{
        font-size: 15px;
    }
    /* end of about */

    /*---------------------------- start of education section -----------------------------------*/
    #education {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .time-line {
        width: 100px;
        margin: 100px auto;
        position: relative;
    }

    .time-line::after {
        content: "";
        position: absolute;
        top: 0;
        right: 50%;
        height: 99%;
        width: 4px;
        background: var(--primary-background-color);
        border-radius: 50px;
    }

    .timeline-container {
        width: 50%;
        position: relative;
        padding: 10px 20px;
    }

    .timeline-container::before {
        content: none;
    }

    .timeline-container:nth-child(even) {
        right: -50%;
    }

    .timeline-container:nth-child(even)::before {
        content: "";
        position: absolute;
        height: 18px;
        width: 18px;
        background: var(--primary-background-color);
        top: 0;
        left: -11.3px;
        border-radius: 50px;
        z-index: 1;
    }

    .timeline-container:nth-child(odd)::after {
        content: "";
        position: absolute;
        height: 18px;
        width: 18px;
        background: var(--primary-background-color);
        top: 0;
        right: -6.7px;
        border-radius: 50px;
        z-index: 1;
        
    }
    .timeline-container:nth-child(odd) {
        text-align: end;
        padding-right: 30px;
    }
    .timeline-container:nth-child(even) {
        padding-left: 30px;
    }

    .text-content h3 {
        font-size: 20px;
    }

    .text-content small {
        margin-left: 2px;
    }

    /* ----------------------------end of education section---------------------------- */

    /*-------------------------------- Start Of Skills Section -------------------------------- */
    #skills {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .skill-contanier {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .skill {
        width: 30%;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    .skill-logo img {
        width: 60px;
        height: 60px;
    }

    .skill-info h1 {
        font-size: 1.2rem;
    }

    .skill-info p {
        font-size: 13px;
    }

    /* ---------------------------------- End Of skills Section -------------------------------*/

    /*---------------------------------- Start of Project Section---------------------------------*/
    #projects {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .project-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 30px;

    }

    /*-------------------------------- End of Project Section ----------------------------------*/

    /*--------------------------------- Start of Contact Section ------------------------------*/
    #contact-container {
        padding: 30px 0;
    }

    .contact-item {
        padding: 10px;
    }

    .contact-info h4 {
        font-size: 1.1rem;
    }

    .contact-info p {
        margin: 5px 0 0;
        font-size: 10px;
    }

    /*---------------------------------- End of Contact Section -------------------------------*/
    /*----------------------------------- Start of copyright ---------------------------------*/
    #footer {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .copyright h6 {
        font-size: 20px;
        opacity: 0.8;
    }

    /*------------------------------------ End of copyright ------------------------------------*/
}

/*--------------------------------------- END OF TABLTE VIEW ------------------------------------*/

/*<-------------------------------------- DESKTOP VIEW START ----------------------------------->*/
@media only screen and (min-width: 1024px) {

    /* start of navbar */
    .navbar-nav { 
        gap: 30px;
    }
    nav{
        padding: 15px 10px;
    }

    /* Default link style */
    .nav-item a {
        position: relative;
        text-decoration: none;
        display: inline-block;
        padding-bottom: 3px;
        font-size: 18px;
    }
    .offcanvas-body{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
        gap: 10px;
    }
    .contact-btn{
        padding-right: 20px;
    }
    .btn-square {
        padding: 8px 7px;
        font-size: 16px;
    }

    /* end of navbar */

    /* start of herosection */
    #herosection {
       padding: 115px 30px;

    }

    .header-img img {
        height: 60vh;
    }

    .header-img {
        margin-top: 15px;
        padding-left: 20px;
    }
    .header-info {
        padding-top: 40px;
    }
    .header-info h3 {
        font-size: 3rem;
    }

    .header-info h1 {
        font-size: 4rem;
    }
    .header-info p {
        padding-right: 10px;
    }

    #typedtext {
        font-size: 40px;
    }

    /* end of herosection */


    /* about sectiob start */
    #about {
        margin-top: 25px;
        margin-bottom: 15px;
    }

    #about-title {
        font-size: 2.5rem;
    }

    #about-img {}

    #about-img img {
        height: 60vh;

    }

    #background-about-img {}

    #about-info {
        /* margin-top: 10px; */
    }

    #about-info p {
        font-size: 18px;
        text-align: left;
    }

    /* end of about */
    /* ----------------------------start of education section ----------------------------*/
    #education {
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .timeline-container:nth-child(even)::before {
        height: 16px;
        width: 16px;
        left: -10px;
    }

    .timeline-container:nth-child(odd)::after {
        height: 17px;
        width: 17px;
        right: -6.5px;
    }

    .timeline-container::before {
        content: none;
    }


    .text-content {
    }

    .text-content h3 {
        font-size: 20px;
    }

    .text-content p {
        font-size: 13px;
        padding: 0%;
    }

    .text-content small {
        margin-left: opx;
    }

    /* ----------------------------end of education section---------------------------- */

    /*-------------------------------- Start Of Skills Section -------------------------------- */
    #skills {
        margin-top: 25px;
        margin-bottom: 15px;
    }

    .skill-contanier {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }

    .skill {
        width: 30%;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    .skill-logo img {
        width: 70px;
        height: 70px;
    }

    .skill-info h1 {
        font-size: 1.3rem;
    }

    .skill-info p {
        font-size: 16px;
    }

    /* --------------------------------- End Of skills Section ----------------------------------*/

    /*------------------------------ Start of Project Section -----------------------------------*/
    #projects {
        margin-top: 25px;
        margin-bottom: 15px;
    }

    .project-container {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }

    /*------------------------------- End of Project Section ------------------------------------*/

    /*--------------------------------- Start of Contact Section---------------------------------*/
    .contact-info p {
        margin: 5px 0 0;
        font-size: 16px;
    }

    .contact-icon {
        margin-bottom: 10px;
    }

    /*-------------------------------- End of Contact Section ------------------------------------*/

}

/*<---------------------------------END OF DESKTOP VIEW ------------------------------------>*/